.display {
    display: block;
    /* justify-content: center;
    align-items: center; */
    background: #858694;
    /* width: 100%; */
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    color: white;
    padding: 10px;
}